In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model as lm

In [2]:
trainda = pd.read_csv("Titanictrain.csv")

xtrain = trainda.copy()
del xtrain["Name"]
del xtrain["Ticket"]
del xtrain['Cabin']
xtrain.Age.fillna(xtrain.Age.mean(), inplace=True)
xtrain["Fare_Fare"]= xtrain.Fare ** 1/2
xtrain.shape

(668, 9)

In [3]:
def binarygen(gender):
    if gender == "female":
        return 0
    else:
        return 1
xtrain["Gender"] = xtrain.Sex.apply(binarygen)
del xtrain['Sex']
def embark(place):
    if place == 'S':
        return 0
    elif place=='Q':
        return 1
    elif place == 'C':
        return 2
xtrain['Embarked'] = xtrain.Embarked.apply(embark)
xtrain['Embarked']
xtrain.dropna(inplace = True)
xtrain.shape

(667, 9)

In [4]:
ytrain = xtrain["Survived"].copy()
del xtrain["Survived"]
ytrain

0      1
1      0
2      0
3      0
4      0
      ..
663    1
664    0
665    1
666    0
667    1
Name: Survived, Length: 667, dtype: int64

In [5]:
clf1 = lm.LogisticRegression(max_iter = 1000, C = 0.5)

In [6]:
clf1.fit(xtrain, ytrain)

LogisticRegression(C=0.5, max_iter=1000)

In [7]:
#Cleaning the test data

testdata = pd.read_csv("titanictest.csv")
xtest = testdata.copy()
del xtest["Name"]
del xtest["Ticket"]
del xtest['Cabin']
xtest.Age.fillna(xtest.Age.mean(), inplace=True)
xtest['Embarked'] = xtest.Embarked.apply(embark)
xtest['Embarked']
xtest["Gender"] = xtest.Sex.apply(binarygen)
del xtest['Sex']
xtest.Embarked.fillna(xtest.Embarked.mean(), inplace = True)
xtest["Fare_Fare"] = xtest.Fare ** 1/2 
xtest

     Pclass        Age  SibSp  Parch      Fare  Embarked  Gender  Fare_Fare
0         2   8.000000      1      1   36.7500       0.0       1   18.37500
1         1  49.000000      0      0   25.9292       0.0       0   12.96460
2         3  29.694775      0      0    7.7375       1.0       1    3.86875
3         2  24.000000      2      1   27.0000       0.0       0   13.50000
4         1  36.000000      0      0   26.2875       0.0       1   13.14375
..      ...        ...    ...    ...       ...       ...     ...        ...
218       3  20.000000      1      0    7.9250       0.0       1    3.96250
219       1  45.000000      0      0   26.5500       0.0       1   13.27500
220       1  17.000000      1      0  108.9000       2.0       0   54.45000
221       3  43.000000      0      0    6.4500       0.0       1    3.22500
222       2  36.500000      0      2   26.0000       0.0       1   13.00000

[223 rows x 8 columns]

In [8]:
predictions = clf1.predict(xtest)
np.savetxt('Titanicpred.csv', predictions, delimiter=',')